@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$color1: #4cb69f;
$color2: #f5f5f5;
$color3: #201d3a;
$color4: #3a3222;
$font: 'Roboto Mono', monospace;
$container-width: 350px;

body {
  background: $color2;
  color: $color4;
  font-family: $font;
}

.button-label {
  background: $color3;
  padding: 10px;
  display: table;
  color: $color2;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.hide {
  opacity: 0;
}

.classify-image {
  display: flex;
}

.prediction-container {
  margin-top: 40px;
  margin-left: 20px;
  width: $container-width;
}

.image-container {
  width: $container-width;
}

img {
  filter: sepia(0.8);
}

h3 {
  background: $color1;
  color: $color2;
  text-align: center;
}
